body{
    margin: 0px;
}
.section-1{
    background-color: #1f2937;
}

nav{
    display: flex;
}

ul{
    display:flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 16px;
}

li{
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.block{
    display: block;
}

h3{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 5px;
    margin-top: 5px;
}

.logo-img{
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;   
}

.aspect-ratio{
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;
}

.main-hero{
    color: #F9FAF8;
    margin-left: 5px;
    font-size: 48px;
}

.side-hero{
    color: #E5E7EB;
    margin-left: 5px;
    font-size: 18px;
}

.main-container{
    display: flex;
}

.hero-container{
    flex: 2 1 40%;
}

.sneaker-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 2 60%;
    margin-bottom: 8px;
    gap: 12px;
}

.flex-img{
    display: flex;
    flex-direction: column;
}

figcaption{
    max-width: 200px;
    text-align: center;
    color: #E5E7EB;
    margin-top: 8px;
}