body{
    margin: 0px;
}
.section-1{
    background-color: #1f2937;
}

.section-3{
    background-color: #E5E7EB;
}

nav{
    display: flex;
}

ul{
    display:flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 16px;
}

ul li{
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.block{
    display: block;
}

h3{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 5px;
    margin-top: 5px;
}

.logo-img{
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;   
}

.aspect-ratio{
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;
}

.main-hero{
    color: #F9FAF8;
    margin-left: 5px;
    font-size: 48px;
}

.side-hero{
    color: #E5E7EB;
    margin-left: 5px;
    font-size: 18px;
}

.main-container{
    display: flex;
}

.hero-container{
    flex: 2 1 40%;
}

.sneaker-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 2 60%;
    margin-bottom: 8px;
    gap: 12px;
}

.flex-img{
    display: flex;
    flex-direction: column;
}

figcaption{
    max-width: 200px;
    text-align: center;
    color: #E5E7EB;
    margin-top: 8px;
}

.caption{
    color: #1f2937
}

.space-wrap{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
}

.header{
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.indent{
    margin-left: 8px;
}

.instructions-container{
    width: fit-content;
    background-color: #3882F6;
    padding: 10px;
    margin-left: 8px;
    margin-bottom: 8px;
    border-radius: 20px;
}

.instructions{
    color:#E5E7EB;
    font-size: 18px;
}

form{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px;
    margin-right: 8px;
}

.name, .pass, .mail{
    display: flex;
    max-width: 275px;
    gap: 8px;
}

.name{
    flex-grow: 1;
    flex-wrap: wrap;
}

.pass{
    flex-grow: 1;
    flex-wrap: wrap;
}